main {
    width: 17rem;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.message {
    display: block;
}

h1 {
    font-size: 1rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: center;
}

table {
    display: block;
    width: 15rem;
    height: 15rem;
    border-collapse: collapse;
    padding-left: 1rem;
    padding-top: 1rem;
}

td {
    border: 0.2rem solid gray;
    width: 5rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
}

td:hover {
    background-color: darkgrey;
}

table tr:first-child td {
    border-top: 0px;
}

table tr td:first-child {
    border-left: 0px;
}

table tr:last-child td {
    border-bottom: 0px;
}

table tr td:last-child {
    border-right: 0px;
}

footer {
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    display: flex;
    justify-content: center;
}

.foot-button {
    font-size: 1.5rem;
    width: 8rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 2px;
}

.foot-button:focus {
    border: 1px solid darkblue;
}